<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ExportOptionsAuto.plist
   Memorize

   Created by Adrian Rose on 30.05.21.
   Copyright (c) 2021 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
         <key>compileBitcode</key>
         <true/>
         <key>method</key>
         <string>ad-hoc</string>
         <key>signingStyle</key>
         <string>automatic</string>
         <key>stripSwiftSymbols</key>
         <true/>
         <key>teamID</key>
         <string>57QSDJBF5E</string>
         <key>thinning</key>
         <string>&lt;none&gt;</string>
    </dict>
</plist>
